<div class="about-me-container">
  <h1 #title>Who am i?</h1>
  <hr #titleLine />
  <div #family class="row family">
    <div class="col-md-4">
      <img src="assets/familia.png" alt="" />
    </div>
    <div class="col-md-8">
      <h2>Family & Friends</h2>
      <p>I spent a lot of time with my family and friends</p>
    </div>
  </div>
  <hr #familyLine />
  <div #sports class="row sports">
    <div class="col-md-8">
      <h2>Sports</h2>
      <p>I love every kind of sport, mostly soccer.</p>
    </div>
    <div class="col-md-4">
      <img src="assets/futbol.jpg" alt="" />
    </div>
  </div>
  <hr #sportsLine />
  <div #animals class="row amimals">
    <div class="col-md-4">
      <img src="assets/perros.jpg" alt="" />
    </div>
    <div class="col-md-8">
      <h2>Animals</h2>
      <p>Have 2 fantastic dogs & 5 puppies!</p>
    </div>
  </div>
  <hr #animalsLine />
  <h2 #music class="music">You already know i love music!</h2>
</div>
