<div class="my-work-main">
  <div class="row stack">
    <h2 #stackTitle>Stack</h2>
    <hr #stackTitleLine />
    <div #frontend class="col-md-6 col-lg-4">
      <div class="card frontend bgc-secondary">
        <div class="card-header">
          <img src="assets/angular-logo.png" alt="" />
          <img src="assets/ionic.svg" alt="" />
          <h6>Frontend</h6>
        </div>
        <div class="card-body">
          <p>
            Love Angular. Can build entire web apps or hibryd applications with
            Angular & Ionic.
          </p>
        </div>
      </div>
    </div>
    <div #backend class="col-md-6 col-lg-4">
      <div class="card backend bgc-secondary">
        <div class="card-header">
          <img src="assets/nodejs.png" alt="" />
          <h6>Backend</h6>
        </div>
        <div class="card-body">
          <p>Mostly worked with NodeJs mixed with ExpressJs</p>
        </div>
      </div>
    </div>
    <div #database class="col-md-6 col-lg-4">
      <div class="card database bgc-secondary">
        <div class="card-header">
          <img src="assets/database.png" alt="" />
          <h6>Database</h6>
        </div>
        <div class="card-body">
          <p>
            Relational and no-relational DBs. Expertise on Sequelize and
            mongoose
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr #stackEndLine />
  <div class="row professional-experience">
    <h2 #professionalExperienceTitle>Professional experience</h2>
    <p #professionalExperienceP1>
      Experienced on large scale projects, complex apps and focusing on user
      experience.
    </p>
    <p #professionalExperienceP2>
      As a freelancer i developed different projects for different companies on
      demand.
    </p>
  </div>
</div>
