<div class="my-work-main">
  <div class="row stack">
    <h2 #stackTitle>Stack</h2>
    <hr #stackTitleLine />
    <div #frontend class="col-md-6 col-lg-4">
      <div class="card frontend bgc-secondary">
        <div class="card-header">
          <img src="assets/angular-logo.png" alt="" />
          <img src="assets/ionic.svg" alt="" />
          <h6>Frontend</h6>
        </div>
        <div class="card-body">
          <p>
            Love Angular. Can build entire web apps or hibryd applications with
            Angular & Ionic.
          </p>
        </div>
      </div>
    </div>
    <div #backend class="col-md-6 col-lg-4">
      <div class="card backend bgc-secondary">
        <div class="card-header">
          <img src="assets/nodejs.png" alt="" />
          <h6>Backend</h6>
        </div>
        <div class="card-body">
          <p>Mostly worked with NodeJs mixed with ExpressJs</p>
        </div>
      </div>
    </div>
    <div #database class="col-md-6 col-lg-4">
      <div class="card database bgc-secondary">
        <div class="card-header">
          <img src="assets/database.png" alt="" />
          <h6>Database</h6>
        </div>
        <div class="card-body">
          <p>
            Relational and no-relational DBs. Expertise on Sequelize and
            mongoose
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row social-profiles">
    <h2 #socialProfileTitle>Social profiles and CV</h2>
    <hr #socialProfileLine />
    <div #github class="col-md-6 col-lg-4 profile-container">
      <img
        src="assets/github.jpg"
        alt="GitHub"
        class="pointer"
        (click)="githubLink.click()"
      />
      <p>
        <a #githubLink href="https://github.com/Totoblak90" target="_blank"
          >Check out my github profile</a
        >
      </p>
    </div>
    <div #linkedin class="col-md-6 col-lg-4 profile-container">
      <img
        src="assets/linkedin.png"
        alt="LinkedIn"
        class="pointer"
        (click)="linkedinLink.click()"
      />
      <p>
        <a #linkedinLink href="https://www.linkedin.com/in/tobias-blaksley-5b883753/" target="_blank"
          >Check out my linkedin profile</a
        >
      </p>
    </div>
    <div #cv class="col-md-6 col-lg-4 profile-container">
      <img
        src="assets/cv.png"
        alt="Curriculum Vitae"
        class="pointer"
        (click)="cvLink.click()"
      />
      <p>
        <a #cvLink href="assets/CV.pdf" download>Download my CV</a>
      </p>
    </div>
  </div>
  <div class="row professional-experience">
    <h2 #professionalExperienceTitle>Professional experience</h2>
    <hr #professionalExperienceTitleLine />
    <p #professionalExperienceP1>
      Experienced on large scale projects, complex apps and focusing on user
      experience.
    </p>
    <p #professionalExperienceP2>
      As a freelancer i developed different projects for different companies on
      demand.
    </p>
  </div>
  <div class="row catalog">
    <h2 #catalogTitle>Catalog</h2>
    <hr #catalogTitleLine />
    <div #marken class="col-md-4">
      <div class="card bgc-secondary">
        <div class="card-header">
          <p class="card-header-title">Marken drinks</p>
          <p class="card-header-subtitle">Site still in construction</p>
        </div>
        <div class="card-body">
          <iframe
            src="https://markendrinks.com/"
            frameborder="0"
            title="Marken drinks"
          ></iframe>
        </div>
      </div>
    </div>
    <div #dln class="col-md-4">
      <div class="card bgc-secondary">
        <div class="card-header">
          <p>DLN Construcciones</p>
          <p>Site still in construction</p>
        </div>
        <div class="card-body">
          <iframe
            src="https://lnconstrucciones.herokuapp.com/"
            frameborder="0"
            title="Marken drinks"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
